{% extends 'layout.html.twig' %}

{% block title %}Post index{% endblock %}

{% block content %}
    <h1>Post index</h1>

    {{ include('post/_form.html.twig') }}

    <table class="table table-hover">
        <thead>
            <tr>
                <th>Autor</th>
                <th>Titulo</th>
                <th>Respuestas</th>
                <th>Fecha Publicación</th>
            </tr>
        </thead>
        <tbody>
        {% for post in posts %}
            <tr 
                style="cursor: pointer;" 
                onClick="window.location='{{ path('app_post_show', {'id': post.id}) }}';"
            >
                <td>{{ post.usuario.username }}</td>
                <td>{{ post.titulo }}</td>
                <td>{{ post.comentarios | length }}</td>
                <td>{{ post.createdAt ? post.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
